<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PLayground</title>
<style>
    *{ margin: auto; padding: 0; font-family: Arial, Helvetica, sans-serif;}
    body{background-color: aquamarine;}
    div{display: flex;flex-wrap: wrap; justify-content: center;}
    h1{text-align: center;}
    main{max-width: 75%; justify-content: center;}
    .box{height: 100px; width: 100px; border-radius: 10%; border: solid black 2px; margin: 10px;}
</style>
</head>
<body>
    <h1>Welcome</h1>
    <main>
    <div>
        {% for i in range(0,nums): %}
            <p class="box" style="background-color: {{ color }};"></p>
        {% endfor %}
    </div>
    </main>
</body>
</html>